.ship{
  background-color: deepskyblue;
}

.salvo{
  background-color: limegreen;
}

#myTable {
  /* display: flex;
  align-content: space-around; */
  display: table;
  width: 350px;
  height: 350px;
  table-layout: fixed;
  text-align: center;
  background-color: midnightblue;
  color: lightskyblue;
  margin-bottom: 20px;
}

#salvoTable {
  display: table;
  width: 350px;
  height: 350px;
  table-layout: fixed;
  text-align: center;
  background-color: darkslategrey;
  color: lightgreen;
  margin-bottom: 20px;
}


